# MyBatis-Flex APT 处理器配置
processor.enable=true
# 是否生成 Mapper XML 文件（默认 true，接口无实现时自动生成）
processor.mappersGenerateEnable=true
# 实体类所在的包（多个用逗号分隔）
processor.tablesPackage=site.ashenstation.amyserver.entity
# Mapper 接口所在的包（多个用逗号分隔）
processor.mappersPackage=site.ashenstation.amyserver.mapper
# 是否在 Mapper 类上自动添加 @Mapper 注解
processor.mapperAnnotation=true
# 生成 TableDef 是否使用独立文件（false 则生成为 Entity 的内部类）
processor.allInOneEnable=false
# 表名风格：upper_camel_to_lower_camel / upper_camel_to_lower_underscore
processor.tableStyle=upper_camel_to_lower_underscore
# 字段名风格：upper_camel_to_lower_camel / upper_camel_to_lower_underscore
processor.fieldStyle=upper_camel_to_lower_camel
